body {margin: 0;}
.unicornMembers {
    text-align: center;
    margin-top: 80px;
    padding: 50px 0 0 0;
    border-radius: 10px;
    height: 500px;
    background-image: linear-gradient(to bottom right, #007bff, #dc3545);
}
.unicornMembers ul li{
    list-style-type: none;
    margin: 30px 0 0 0;
    width: 100%;
    padding: 0 50px 0 50px;
}
.unicornMembers ul {
    padding: 0;
}
.groupName {
    border-radius: 10px 10px 0 0;
    padding: 20px;
}
button {
    width: 100%;
}
